@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  --gray-50: #F8FAFC;
  --gray-100: #F1F5F9;
  --gray-200: #E2E8F0;
  --gray-300: #CBD5E1;
  --gray-400: #94A3B8;
  --gray-500: #64748B;
  --gray-600: #475569;
  --gray-700: #334155;
  --gray-800: #1E293B;
  --gray-900: #0F172A;
  --normal-weight: 400;
  --bold-weight: 700;
  --icon-font: "Material Symbols Outlined";
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  overflow: hidden;
  font-family: "Noto Sans SC", Roboto, "Open Sans", "Gill Sans", Arial, Helvetica, sans-serif;
  font-weight: var(--normal-weight);
  letter-spacing: 0.01rem;
  background-color: var(--gray-50);
  color: var(--gray-900);
  height: 100%;
  width: 100%;
  display: flex;
}
body {
  margin: 0;
  height: 100vh;
  flex: 1
}
@supports (-webkit-touch-callout: none) {
  body {
    height: -webkit-fill-available;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}
#root {
  height: 100%;
  display: flex;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

svg {
  fill: currentColor;
}

:root, body {
  font-family: Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.prose.chat-bubble * {
  color: inherit;
}