@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
  line-height: 1.5;
  overflow: hidden;
  letter-spacing: 0.01rem;
}
.no-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

svg {
  @apply fill-current;
}

:root, body {
  font-family: Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.prose.chat-bubble * {
  @apply text-inherit;
}